<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biolife</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/icofont/icofont.min.css" />
    <link rel="stylesheet" href="~/css/main.css">
    @await RenderSectionAsync("SocialMetaTags", required: false)

    <environment include="Development">
    

    </environment>

    <environment exclude="Development">
     
    </environment>
</head>
<body>

    <!-- Header Start -->
    @await Component.InvokeAsync("header")
    <!-- Header End -->

    <!-- HOME -->
    @RenderBody()   
    <!-- END HOME -->

    <!-- Footer Start-->
    @await Component.InvokeAsync("footer")
    <!-- Footer End-->

    <button class="backToTopBtn"></button>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/common.js"></script>

    <script>
        if ($(window).width() > 767) {
            $('body').addClass('homepage');
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)  
</body>
</html>
