################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HuloToys-Front-End/bin
/HuloToys-Front-End/obj
/.vs