@using BIOLIFE.Models;
@model List<CategoryModel>

<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <div class="logo">
                    <img src="~/images/Logo_BIOLIFE.png" alt="" />
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="icofont-navigation-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Trang chủ</a>
                    </li>
                    @foreach (var item in Model)
                    {
                        <li class="nav-item">
                            <a class="nav-link"  href="@("/" + item.path)">@item.name</a>
                        </li>
                    }
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control" type="search" placeholder="Tìm kiếm..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        <i class="icofont-search"></i>
                    </button>
                </form>
            </div>
        </nav>
    </div>
</header>