@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-news">
    <div class="container">

        <div class="wrap-news">
            <div class="content">
                <div class="list-news-top list-news">
                    <div class="top-news">
                        <div class="item-news">
                            <div class="box-news" id="article-1">
                                <div class="thumb-art">
                                    <div class="thumb thumb-news">
                                        <a href=""><img src="assets/images/banner.jpg" alt=""> </a>
                                    </div>
                                </div>
                                <div class="right-content">
                                    <div class="flex-cat">
                                        <a href="" class="cat-tag cat-dochoi">Đồ chơi</a>
                                        <a href="" class="cat-tag cat-goiy">Gợi ý </a>
                                        <span class="time">
                                            <i class="icon icon-time"></i>
                                            19/02/2020
                                        </span>
                                    </div>
                                    <h2 class="title-news">
                                        <a href="">
                                            Top những đồ chơi cho trẻ 7 tháng tuổi hữu ích nhất
                                            hiện nay
                                        </a>
                                    </h2>
                                    <p class="description">
                                        Đồ chơi cho bé không chỉ là một phương tiện giải trí, mà còn là
                                        công cụ hỗ trợ phát triển toàn diện cho bé.Hulo Toys cung cấp đa dạng các loại đồ
                                        chơi như đồ chơi nhựa, lego, đồ chơi lắp ráp, đồ chơi điều khiển từ xa, và đồ chơi
                                        nhập vai...
                                    </p>
                                    <a href="" class="xemthem">Đọc tiếp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-cat" id="news-category">
                    </ul>
                </div>
                <div class="list-news" id="section-article-paginate">


                </div>
                <div class="wrap-paging">
                    <a href="" class="xemthem">Xem thêm</a>
                    <ul class="pagination">
                        <li class="page first"><a href=""><i class="icon icon-page-first"></i></a></li>
                        <li class="page previous disabled"><a href=""><i class="icon icon-page-previous"></i></a></li>
                        <li class="page active"><a href="">1</a></li>
                        <li class="page"><a href="">2</a></li>
                        <li class="page"><a href="">...</a></li>
                        <li class="page"><a href="">3</a></li>
                        <li class="page next"><a href=""><i class="icon icon-page-next"></i></a></li>
                        <li class="page last"><a href=""><i class="icon icon-page-last"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="siderbar-news">
                <div class="box-side">
                    <h3 class="title">
                        XEM NHIỀU NHẤT
                    </h3>
                    <div class="list-news" id="Most_Viewed_Article">

                    </div>
                </div>
                <div class="box-side">
                    <h3 class="title">
                        SẢN PHẨM KHUYẾN MÃI
                    </h3>
                    <div class="list-product" id="list_new_Sale">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript" src="~/modules/new.js"></script>
}
