@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-news">
    <div class="container">

        <div class="wrap-news">
            <div class="content">
                <ul class="list-cat" id="news-category">
                </ul>
                <div class="list-news-top list-news">
                    <div class="top-news">
                        <div class="item-news">
                            <div class="box-news" id="article-1">
                              
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div id="section-article-paginate">

                </div>
               
            </div>
            <div class="siderbar-news">
                <div class="form-search">
                  
                        <input type="text" placeholder="Tìm kiếm tin..." id="text_input">
                    <button type="button" class="btn-search" onclick="_new.GetFindArticleByTitle();"><i class="icon icon-search"></i></button>
                  
                </div>
                <div class="box-side">
                    <h3 class="title">
                        XEM NHIỀU NHẤT
                    </h3>
                    <div class="list-news" id="Most_Viewed_Article">

                    </div>
                </div>
                <div class="box-side">
                    <h3 class="title">
                        SẢN PHẨM KHUYẾN MÃI
                    </h3>
                    <div class="list-product" id="list_new_Sale">
                        <div class="list-product-sale">
                            <div class="swiper product-slide">
                                <div class="swiper_wrapper">
                                    <div class="swiper-slide">

                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript" src="~/modules/new.js"></script>
}
