@using HuloToys_Front_End.Models.News;
@model ArticleResponse
@if (Model != null)
{

    <div class="thumb-art">
        <div class="thumb thumb-news">
            <a href="/News/NewsDetails/@Model.id"><img src="@Model.image_169" alt=""> </a>
        </div>
    </div>
    <div class="right-content">
        <div class="flex-cat">

            <span class="time">
                <i class="icon icon-time"></i>
                @Model.publish_date
            </span>
        </div>
        <h2 class="title-news">
            <a href="/News/NewsDetails/@Model.id">
                @Model.title
            </a>
        </h2>
        <p class="description">
            @Model.lead
        </p>
        <a href="/News/NewsDetails/@Model.id" class="xemthem">Đọc tiếp</a>
    </div>

}
