@{
    ViewData["Title"] = "Đóng góp ý kiến";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .AddcommentSucces {
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #f0ad4e;
        color: #fff;
    }

    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }

    #CommentSucces {
        display: none;
        text-align: center;
        line-height: 30px; 
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5; /* Làm mờ liên kết */
    }

    .btn-Send {
        float:right;
    }
</style>
<div id="CommentSucces" class="AddcommentSucces" style="display:none;justify-content:center">
@*     <span class="close" onclick="this.parentElement.style.display='none';">&times;</span> *@
    <strong style="text-align:center">Thông báo:</strong> Cảm ơn vì đã góp ý!
</div>
<section class="section-banner-search section-donggopykien">
    <div class="container">
        <div class="flex-banner">
            <div class="wrap-form">
                <h2 class="title">Đóng góp ý kiến</h2>
                <div class="form-donggop">
                    <form onsubmit="return false">
                        <div class="form-group">
                            <label>Nội dung*</label>
                            <div class="box-input">
                                <textarea maxlength="500" style="min-height:150px" oninput="_feedback.SaveText()" class="form-control" id="comment-text" rows="5" placeholder="Hãy chia sẽ những góp ý của bạn với Hulo Toys tại đây nhé."></textarea>
                            </div>
                        </div>
                        <div class="action">
                            <div></div>
                            <a onclick="_feedback.CreateFeedback()" id="liveToastBtn" class="btn btn-Send">Gửi</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="image">
                <img src="/images/img-search.png" alt="">
            </div>
        </div>
    </div>
</section>

@section scripts {
    
}
