<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/custom/site.css">
    <title>@ViewData["Title"]</title>

</head>
<body>
    <partial name="_Header" />
    <partial name="_Login" />

    <section id="main">
        @RenderBody()
    </section>
    <partial name="_Footer" />
    <button class="backToTopBtn"></button>



    <script src="/js/jquery.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <script src="/modules/global.js"></script>
    <script src="/modules/constants.js"></script>
    <script src="/modules/services.js"></script>

    <!-- Modules-->
    <script src="/modules/account.js"></script>

    <script src="https://accounts.google.com/gsi/client" async></script>
    @* <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0" nonce="P6zkdA3O"></script> *@
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
