@{
    Layout = null;
}
<!-- Lightbox thành công-->
<div id="thanhcong" class="overlay form-noti">
    <div class="popup">
        <a class="close" href="javascript:;">
            <i class="icon icon-close"></i>
        </a>
        <div class="content">
            <img src="/images/check.svg" alt="">
            <h4>Thành công</h4>
            <p class="lightbox-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <a href="javascript:;" class="btn btn-line btn-close">Đóng</a>
        </div>
    </div>
</div>
<div id="thatbai" class="overlay form-noti">
    <div class="popup">
        <a class="close" href="#">
            <i class="icon icon-close"></i>
        </a>
        <div class="content">
            <img src="/images/error.svg" />
            <h4>LỖI</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <a href="" class="btn btn-line">Đóng</a>
        </div>
    </div>
</div>
