@using HuloToys_Service.Models.Client
@{
    ViewData["Title"] = "Đổi mật khẩu tài khoản | Hulotoys";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string token = (string)ViewBag.Token;
}
@model ClientForgotPasswordTokenModel
<div id="doimk" class="overlay overlay-active form-update-address" data-token="@token">
    <div class="popup">
      
        <div class="content">
            <h4 class="title-popup">Đổi mật khẩu</h4>
            <div class="content">
                <div class="form-group">
                    <label>Nhập mật khẩu mới</label>
                    <div class="box-input user">
                        <input class="form-control" type="password" placeholder="Nhập mật khẩu mới" />
                    </div>
                    <span class="err">Vui lòng không để trống</span>
                </div>
                <div class="form-group">
                    <label>Xác nhận mật khẩu mới</label>
                    <div class="box-input user">
                        <input class="form-control" type="password" placeholder="Xác nhận mật khẩu mới" />
                    </div>
                    <span class="err">Vui lòng không để trống</span>
                </div>

            </div>
            <div class="bottom-box">
                <div class="action">
                    <a href="javascript:;" class="btn btn-cancel">Hủy</a>
                    <a id="change-password-confirm" href="javascript:;" class="btn btn-base btn-logout">Xác nhận đổi mật khẩu</a>
                </div>
            </div>
        </div>
    </div>
</div>