@{
    var group_product_parent_id =  ViewBag.group_product_parent_id;
}

<input type="hidden" id="group_product_parent_id" value="@group_product_parent_id" />

<section class="banner-product">
    <div class="container">
        <div class="swiper swiper-banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href=""><img src="~/images/banner.jpg" alt="" /></a>
                </div>
                <div class="swiper-slide">
                    <a href=""><img src="~/images/banner2.jpg" alt="" /></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>
<section class="section-product">
    <div class="container">
        <div class="wrap-list-product" id="productList">
            <div class="left-sidebar">

                <div id="closeFilter" class="close"><i class="icon icon-close"></i></div>
                <h3 class="tt-filter">Danh mục</h3>
                <div id="group-product-left"></div>

                <div class="box-filter">
                    <h3 class="tt-box gia">Giá</h3>
                    <form id="priceRangeForm">
                        <div class="flex-form">
                            <input type="number" id="amountMin" placeholder="Min">
                            <i class="icon icon-arrow-right"></i>
                            <input type="number" id="amountMax" placeholder="Max">
                        </div>
                    </form>
                </div>
                <div class="box-filter">
                    <h3 class="tt-box thuonghieu">Thương hiệu</h3>
                    <ul class="list-filter" id="brandList">
                        
                    </ul>
                </div>
            </div>
             <div class="product-category">
                 <button class="btn-filter">Bộ lọc</button>
                 <div class="component-product-list">
                    <div class="list-product">
                 
                 </div>
                     <div class="wrap-paging">
                     <a href="" class="xemthem">Xem thêm</a>
                     <ul class="pagination">
                         <!-- <li class="page first"><a href=""><i class="icon icon-page-first"></i></a></li> -->
                         <li class="page previous disabled"><a href=""><i class="icon icon-page-previous"></i></a></li>
                         <li class="page active"><a href="">1</a></li>
                         <li class="page"><a href="">2</a></li>
                         <li class="page"><a href="">...</a></li>
                         <li class="page"><a href="">3</a></li>
                         <li class="page next"><a href=""><i class="icon icon-page-next"></i></a></li>
                         <!-- <li class="page last"><a href=""><i class="icon icon-page-last"></i></a></li> -->
                     </ul>
                 </div>
                 </div>
             </div>
        </div>
    </div>
</section>

